.MuiToolbar-root{
    background-color: #5c0404;
    border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}	

.logo-img{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.cursor{
    cursor:pointer;
    color:#c7ab65;
}

.text-decorator-none{
    text-decoration: none;
}

