.box1{
    background-color: #801111;
    height: 120px;
}

.box2{
    background-color: #5c0404; 
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #c7ab65;
}

.textos{
    color: #c7ab65;
    
}

.text-decorator-none{
    text-decoration: none !important;
}